.sidebar{
  width: 100px;
  flex: 0 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
  background: white;
  z-index: 1000;
  flex: 0 0 100px;
}

.app{
  display: flex;
  min-height: 100vh;
}

.recipes{
  position: relative;
  top: 20px;
  text-align: center;
}

.filter{
    width:250px;
    height:100%;
    position:absolute;
    top:0;
    left:-400px;
    background-color:#EEE;
    color:#000;
    transition:0.4s ease;
}

.active {
  left: 100px
}

